*, *::before, *::after {
    box-sizing: border-box;
}

body {

    flex-direction: column;
    align-items: flex-start;
}

.add-dream-form {

    border-radius: 18px;
    background: #D9D9D9;
    margin: 5vh 5vw;
    width: 90vw;
    height: 80vh;

}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-family: Poppins;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 17px;
    background: #ADADAD;

    padding: 8px;
    margin: 10px 10px 2px 10px;
    border-width: 0;
}

textarea {

    font-family: Poppins;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    height: 60vh;
    padding: 8px;
    margin: 0 10px 10px 10px;
    border-radius: 4px;
    border-width: 0;
    background: #D9D9D9;
}

form > button {
    position: relative;
    right: -10vh;
    border-radius: 35.765px;
    background: #C9B4EC;
    width: 30%;
    left: 30vw;
    margin-bottom: 1em;
}

button:hover {
    background: #BAA0E5;
}
.cancel-btn{
    margin-top: 1em;
}

#buttons > button, #buttons > a > button {
    border-radius: 35.765px;
    margin-left: 5vw;
    background: #C9B4EC;
    width: -webkit-fill-available;
}

#buttons > a > #cancel {
    margin-top: 1em;
    background: #908e8e;
}
.dropdown-list {
    width:100%;
}

.emotion-picker {
    display: flex;
    gap: 20px;
    align-items: center;
}

.emoji {
    font-size: 40px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .emoji {
    transform: scale(1.2);
}