*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: #A6A2DA;
}
#root{
    height: 92vh;
    width:100%;
    margin-top:8vh;
}

.messages {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.show {
    display: block;
}
.liked {
    color: red;
}
.unliked-my{
    color: white;
}
.buttons {
    cursor:pointer;
    display: flex;
    align-items: center;
    width: 90%;
    font-style: normal;
    font-weight: 500;
}

button {
    cursor: pointer;
    height: calc(100vh * (50 / 900));
    border: none;
    border-radius: 9px;
    background: #A6A2DA;
    width: 100%;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    width: 100%;
}


.submit {
    box-shadow: 0 4px 19px 0 rgba(119, 147, 65, 0.30);
}


.navbar {
    color: #444;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: calc(100vw / 4);
    box-sizing: border-box;
}

.nav-link i, button i {
    margin: 0 1vw 0 1vw;
    color: #a6a2da;
}

form > #logoutButton i {
    color: #9a87e2;
}

.nav-link:hover, .navbar form > button:hover {
    background-color: #ddd;
    color: black;

}

.navbar form > button {
    width: calc(100vw / 4);;
    background: none;
    border-radius: 0;
    color: black;
    position: static;
    margin: 0;
    height: -webkit-fill-available;
}

.navbar form {
    justify-content: center;
    margin: 0;
}

.content {
    margin-top: 60px;
}

/* Stylowanie przycisku */
.floating-button {
    position: fixed;
    bottom: 5vh;
    right: 3vw;
    z-index: 999;
}


.floating-button  {
    padding: 10px 20px;
    border-radius: 35.765px;
    width: 15vw;
    height: fit-content;
    background: #C9B4EC;
    cursor: pointer;

}

.dropdown-list {
    /*margin-top: 1em; */
    box-shadow: 0 4px 19px 0 rgba(119, 147, 65, 0.30);
    border-radius: 35.765px;
    background: #C9B4EC;
    width: 30%;
    height: calc(100vh*(50 / 900));
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 2rem; */
    /* margin-left: 2rem;*/
}
.dropdown-list > label{
    width:100%;
    height: 100%;
    display: flex;
}
.dropdown-list > label> select {
    cursor: pointer;
    background: #C9B4EC;
    border-color: #C9B4EC;
    color: white;
    font-family: Poppins;
    font-size: 1em;
    width:100%;
    text-align-last:center;
    border-radius: 35.765px;
}
.dropdown-list > label> select:focus{
    outline: none !important;
    border: none !important;
}
.dropdown-list > label> select:hover{
    background: #BAA0E5 ;
    outline: none !important;
    border: none !important;
}

#buttons {
    display: flex;
    margin: 1% 1%;
    /* width: 90%; */
    gap: 5%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.non-visible{
    text-align: unset;
    text-decoration: unset;
    color: black;
}
input::placeholder textarea::placeholder{
    color: #0000009e;
}

/* Start add tags */
.wrappers {
    display: flex;
    margin: 0 10px;
}
.wrapper{

    align-items: center;
    display: flex;
    margin-right: 3vw;
    justify-content: flex-end;
}
.friend-dream .wrapper{
    margin-top: -3%;
}
.emoji {
    font-size: 2.5vw;

}
.tags {
    width: 75%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.tags .title {
    display: inline-block;
    margin: 10px 0;
    color: black;
}
.tags .show-error {
    color: #c62a2a;
    font-size: 14px;
    padding: 5px 10px;
    /*display: none;*/
}

.tags .wrapper-tags {

    border-radius: 17px;
    padding: 5px;
    cursor: text;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tags .wrapper-tags.focus {
    color: #9a87e2;
    box-shadow: 0 0 0 0.05rem rgb(173 173 173);
}
.tags .wrapper-tags .view-tags {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tags .wrapper-tags .tag, .tag {
    font-size: 12px;
    padding: 3px 6px;
    height: 26px;
    background-color: #c9b4ec;
    color: #FFF;
    border-radius: 3px;
    display: block;
    float: left;
    margin: 0 8px 8px 0;
    cursor: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
.my-dream .tags{
    width:81%;
    margin-left: 10vw;
}
.my-dream .tags .tag{

    background-color: #6998cb ;
}
.friend-dream .tags .tag{
    background-color: #a6a2da;
}
.tags .wrapper-tags .tag::-moz-selection {
    background-color: #ebff00;
    color: #e65508;
}
.tags .wrapper-tags .tag::selection {
    background-color: #ebff00;
    color: #e65508;
}
.tags .wrapper-tags .tag i {
    cursor: pointer;
    margin-left: 6px;
    color: #fff;
    font-size: 10px;
    width: 14px;
    height: 14px;
    background-color: #8e8e8e;
    border-radius: 50%;
    text-align: center;
    line-height: 13.5px;
}
.tags .wrapper-tags .tag i:hover {
    background-color: #d31818;
}
.searchTerm:focus, .searchTerm:hover{
    outline: none !important;
    box-shadow: 0 0 10px #000000
}
.tags .wrapper-tags .input-tag:focus, input:focus, textarea:focus{
    outline: none !important;
    border-color: #9a87e2;
    box-shadow: 0 0 10px #ADADADFF
}
.tags .wrapper-tags .input-tag {
    border-radius: 4px;
    font-weight: 500;
    margin: 0;
    display: inline-block;
    border: 0;
    padding-left: 5px;
    height: 26px;
    flex-grow: 1;
    width: 50px;
    min-width: 50px;
    font-size: 15px;
    background-color: inherit;
}
.show-count-all {
    font-size: 13px;
    overflow: hidden;
    padding: 0 10px;
}
.show-count-all > div span {
    color: #9a87e2;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.show-count-all > div.max span,
.show-count-all > div.max {
    color: #de1717;
    font-size: 14px;
    -webkit-animation: flash 1s ease-in-out infinite;
    -moz-animation: flash 1s ease-in-out infinite;
    -o-animation: flash 1s ease-in-out infinite;
    animation: flash 1s ease-in-out infinite;
}
.searchTerm {
    width: 30vw;
    height: 100%;
    border-radius: 0.5em 0 0 0.5em;
    margin: 10px 0 10px 10px;
    box-shadow: 0 4px 19px 0 rgba(119, 147, 65, 0.30);
}


.searchButton {
    background: #C9B4EC;
    height: 100%;
    margin-top: 0.5em;
    padding: 0.5em;
    text-align: center;
    border-radius: 0 0.5em 0.5em 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 4px 19px 0 rgba(119, 147, 65, 0.30);
}
input {
    outline: none;
    font-family: Poppins;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 17px;
    background: #ADADAD;

    padding: 8px;
    margin: 10px 10px 2px 10px;
    border-width: 0;
}
@-webkit-keyframes flash {
    0% { opacity: 1 }
    50% { opacity: 0.6 }
    100% { opacity: 1 }
}
@-moz-keyframes flash {
    0% { opacity: 1 }
    50% { opacity: 0.6 }
    100% { opacity: 1 }
}
@keyframes flash {
    0% { opacity: 1 }
    50% { opacity: 0.6 }
    100% { opacity: 1 }
}

.show-count-all .count-character-tag {
    float: left;
}
.show-count-all .count-tags {
    float: right;
}
.tags .btn {
    margin: 20px 0;
}
.show-all-tags {
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.show-all-tags .show-tags .title {
    color: #666;
    font-size: 18px;
    font-weight: bold;
}
.show-all-tags .show-tags .wrapper-view-tags {
    padding: 10px 10px 10px 20px;
    background-color: #EEE;
    border-radius: 4px;
    position: relative;
}
.show-all-tags .show-tags .wrapper-view-tags .hide-array {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: #c11d1d;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}
.show-all-tags .show-tags .tags .tag {
    padding-left: 25px;
}
.show-all-tags .show-tags .tags .tag span {display: inline-block}
.show-all-tags .show-tags .tags .tag .index {
    color: #3498db;
    font-weight: bold;
    width: 40px;
}
.show-all-tags .show-tags .tags .tag .value {
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
hr{
    margin: 0 auto;
    width: 95%;
    text-align: center;
}
.cancel-btn{
    background: #ADADAD !important;
}
.cancel-btn:hover{
    background: #858383 !important;
    outline: none !important;
    box-shadow: 0 0 10px #a5a1d9 ;
}
button:hover , .dropdown-list:hover{
    background: #BAA0E5 !important;
    outline: none !important;
    box-shadow: 0 0 10px #8c88c3
}
.loading{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center ;
}
@media (max-width: 700px) {
    .nav-link > span {
        display: none;
    }

    .floating-button {
        right: 40%;
        bottom: 1em;
        width: auto;
    }

    .floating-button  {
        width: auto;
    }
}