*, *::before, *::after {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
}

.notes img {
    position: absolute;
    left: 5%;
    width: 25vw;
    top: 5vh;
}

.add-dream-form {

    border-radius: 18px;
    background: #D9D9D9;
    margin-top: 10vh;
    margin-left: 40vw;
    width: 55vw;
    margin-bottom: 5vh;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    font-family: Poppins;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 17px;
    background: #ADADAD;

    padding: 8px;
    margin: 10px 10px 2px 10px;
    border-width: 0;
}



textarea {
    font-weight: 500;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    line-height: normal;

    height: 10vh;
    padding: 8px;
    margin: 0 10px 10px 10px;
    border-radius: 4px;
    background: #D9D9D9;
}

form button , a button, .dream-list-btn{

    right: -10vh;
    border-radius: 35.765px;
    background: #C9B4EC;
    width: 30%;
    left: 30vw;

}
.cancel-btn{
    /* margin-top: 1em; */
    background: #ADADAD;
    /* margin-right: 0.5em;*/
}
#root{
    width:100%;
}
button:hover {
    background: #BAA0E5;
}

.my-dream {
    cursor: pointer;
    background-image: url(../img/menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 75%;
    border-radius: 20px;
    box-shadow: 0px 16px 20px 0px rgba(28, 16, 62, 0.10);
    color: white;

    display: flex;
    flex-direction: column;

}
.my-dream-top{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}
a{
    text-align: right;
}
a> button{
    margin-top: 1em;
    width: auto;
}
.top span {
    display: none;
}

.my-dream .top {
    display: flex;
}

.my-dream .top h4 {
    width: 65vw;
    font-size: 2em;
    margin: 2vh 5vw;
}


data {
    border-radius: 10px;
    background: #FFF;
    padding: 4px 8px;
    align-self: center;

    margin-right: 3vw;

    color: #444;
    text-align: center;
    width: 12vw;
}

.my-dream > p {
    margin-right: 1em;
    margin-top: 1em;
    margin-left: 10vw;
}

.block-name {
    margin-left: 5vw;
    font-size: 1.5em;
    width:40%;
}

.social-icons {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    align-items: center;
    margin: 0em 2em 1em 2em;
}

.social-icons > div {
    cursor: pointer;
    display: flex;
}

.social-icons > div > p {
    margin: 0 1em;
}

.social-icons > div > i {
    margin-top: 0.5em;
}

.friend-dream {
    border-radius: 10px;
    border: 1px solid rgba(0, 110, 233, 0.06);
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 110, 233, 0.02);
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2em;
    width: 75%;

}

.friend-dream > .top {
    display: flex;
}

.friend-dream > .top > img {
    margin: 1vh 2vw;
    width: 15%;
    height: fit-content;
}

.friend-dream > .top > p {
    margin: 2vw;
    width: 6vw;
}

.friend-dream > .top > h4 {
    margin: 2vh 2vw;
    width: 49vw;
    font-size: 2em;
    color: #808080;
}

.friend-dream > .bottom {
    display: flex;
}
.bottom > p {
    max-height: 10em;
    overflow: auto;
    margin-top: 0.5em;
}
.friend-dream > .bottom > p {
    margin-left: 14vw;
    width: 61vw;
}

.dream-comments {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dream-comments.show-comments {

    display: contents;
    transition: max-height 0.3s ease;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10%;
}

.name {
    font-size: 2em;
}

.comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


.comment-text {
    margin-left: 1.5em;
}

.sally img {

    right: 0;
    transform: translateY(-50%);
    width: 30vw;
    position: fixed;
    bottom: 5vh;
    z-index: -1;
    top: 70vh;

}

.friend-find {
    justify-content: space-between;
    width: 75%;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-right: 5vw;
}

.friend-find > .block-name {
    margin-left: 0;
}

.search {
    margin-top: 0.5em;
    height: 3em;
    display: flex;
    position: relative;
    flex-direction: column;
   /* z-index: 1111;*/
}
.search > div{
    display: flex;
    height: -webkit-fill-available;
}
.searchTerm {
    width: 30vw;
    height: 100%;
    border-radius: 0.5em 0 0 0.5em;
    margin: 10px 0 10px 10px;
    box-shadow: 0 4px 19px 0 rgba(119, 147, 65, 0.30);
}


.searchButton {
    background: #C9B4EC;
    height: 100%;
    margin-top: 0.5em;
    padding: 0.5em;
    text-align: center;
    border-radius: 0 0.5em 0.5em 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 4px 19px 0 rgba(119, 147, 65, 0.30);
}

.search-results {
    margin-left: 10px;
    background: white;
    z-index: 11;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    list-style: none;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
}

.search-result-item {
    display: flex;
    gap: 4px;
    padding: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.search-result-item:hover {
    background: rgba(0, 0, 0, 0.2);
}

.search-result-item img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.search-icon {
    color: white;
}

.nav-link > .main {
    color: #9a87e2;
}
.emotion-picker {
    width: 25%;
    display: flex;
    gap: 0.5vw;
    align-items: center;
    flex-wrap: wrap;
}

.emoji {
    font-size: 2.5vw;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .emoji {
    transform: scale(1.2);
}
.btn {
    cursor: pointer;
}
.hide,
.hiddendiv {
    display: none;
}

/* Start add tags */
.wrappers {
    display: flex;
    margin: 0 10px;
}
.tags {
    width: 75%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.tags .title {
    display: inline-block;
    margin: 10px 0;
    color: black;
}
.tags .show-error {
    color: #c62a2a;
    font-size: 14px;
    padding: 5px 10px;
    /*display: none;*/
}

.tags .wrapper-tags {

    border-radius: 17px;
    padding: 5px;
    cursor: text;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tags .wrapper-tags.focus {
    color: #9a87e2;
    box-shadow: 0 0 0 0.05rem rgb(173 173 173);
}
.tags .wrapper-tags .view-tags {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tags .wrapper-tags .tag {
    font-size: 12px;
    padding: 3px 6px;
    height: 26px;
    background-color: #c9b4ec;
    color: #FFF;
    border-radius: 3px;
    display: block;
    float: left;
    margin: 0 8px 8px 0;
    cursor: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
.tags .wrapper-tags .tag::-moz-selection {
    background-color: #ebff00;
    color: #e65508;
}
.tags .wrapper-tags .tag::selection {
    background-color: #ebff00;
    color: #e65508;
}
.tags .wrapper-tags .tag i {
    cursor: pointer;
    margin-left: 6px;
    color: #fff;
    font-size: 10px;
    width: 14px;
    height: 14px;
    background-color: #8e8e8e;
    border-radius: 50%;
    text-align: center;
    line-height: 13.5px;
}
.tags .wrapper-tags .tag i:hover {
    background-color: #d31818;
}
.tags .wrapper-tags .input-tag:focus input:focus textarea:focus {

    color: #9a87e2;
    box-shadow: 0 0 0 0.05rem rgb(173 173 173);
}
.tags .wrapper-tags .input-tag {
    font-weight: 500;
    margin: 0;
    display: inline-block;
    border: 0;
    padding-left: 5px;
    height: 26px;
    flex-grow: 1;
    width: 50px;
    min-width: 50px;
    font-size: 15px;
    background-color: inherit;
}
.show-count-all {
    font-size: 13px;
    overflow: hidden;
    padding: 0 10px;
}
.show-count-all > div span {
    color: #9a87e2;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.show-count-all > div.max span,
.show-count-all > div.max {
    color: #de1717;
    font-size: 14px;
    -webkit-animation: flash 1s ease-in-out infinite;
    -moz-animation: flash 1s ease-in-out infinite;
    -o-animation: flash 1s ease-in-out infinite;
    animation: flash 1s ease-in-out infinite;
}
@-webkit-keyframes flash {
    0% { opacity: 1 }
    50% { opacity: 0.6 }
    100% { opacity: 1 }
}
@-moz-keyframes flash {
    0% { opacity: 1 }
    50% { opacity: 0.6 }
    100% { opacity: 1 }
}
@keyframes flash {
    0% { opacity: 1 }
    50% { opacity: 0.6 }
    100% { opacity: 1 }
}

.show-count-all .count-character-tag {
    float: left;
}
.show-count-all .count-tags {
    float: right;
}
.tags .btn {
    margin: 20px 0;
}

/* End add tags */

/* Start show tags */
.show-all-tags {
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.show-all-tags .show-tags .title {
    color: #666;
    font-size: 18px;
    font-weight: bold;
}
.show-all-tags .show-tags .wrapper-view-tags {
    padding: 10px 10px 10px 20px;
    background-color: #EEE;
    border-radius: 4px;
    position: relative;
}
.show-all-tags .show-tags .wrapper-view-tags .hide-array {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: #c11d1d;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}
.show-all-tags .show-tags .tags .tag {
    padding-left: 25px;
}
.show-all-tags .show-tags .tags .tag span {display: inline-block}
.show-all-tags .show-tags .tags .tag .index {
    color: #3498db;
    font-weight: bold;
    width: 40px;
}
.show-all-tags .show-tags .tags .tag .value {
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
hr{
    margin: 0 auto;
    width: 95%;
    text-align: center;
}
/* End show tags */
@media (max-width: 700px) {
    .sally img, .notes img {
        display: none;
    }

    .add-dream-form {

        width: 90%;
        margin: 10vh 5vw 0 5vw;
    }

    .my-dream {
        cursor: pointer;
        width: 90%;
    }

    .friend-dream {
        width: 90%;
        flex-wrap: nowrap;
    }

    .friend-find {
        width: 90%;
    }

}