*, *::before, *::after {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
}

.notes img {
    position: absolute;
    left: 5%;
    width: 25vw;
    top: 5vh;
}

.add-dream-form {

    border-radius: 18px;
    background: #D9D9D9;
    margin-top: 10vh;
    margin-left: 40vw;
    width: 55vw;
    margin-bottom: 5vh;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    font-family: Poppins;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 17px;
    background: #ADADAD;

    padding: 8px;
    margin: 10px 10px 2px 10px;
    border-width: 0;
}

input:focus {
    border: 1px solid black;
    color: black;
}

textarea {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    height: 10vh;
    padding: 8px;
    margin: 0 10px 10px 10px;
    border-radius: 4px;
    border-width: 0;
    background: #D9D9D9;
}

form button , a button, .dream-list-btn{

    right: -10vh;
    border-radius: 35.765px;
    background: #C9B4EC;
    width: 30%;
    left: 30vw;
    margin-bottom: 1em;
}
.cancel-btn{
    margin-top: 1em;
    background: #ADADAD;
    margin-right: 0.5em;
}
#root{
    width:100%;
}
button:hover {
    background: #BAA0E5;
}

.my-dream {
    background-image: url(../img/menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 75%;
    border-radius: 20px;
    box-shadow: 0px 16px 20px 0px rgba(28, 16, 62, 0.10);
    color: white;

    display: flex;
    flex-direction: column;

}
.my-dream-top{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}
a{
    text-align: right;
}
a> button{
    margin-top: 1em;
    width: auto;
}
.top span {
    display: none;
}

.my-dream .top {
    display: flex;
}

.my-dream .top h4 {
    width: 65vw;
    font-size: 2em;
    margin: 2vh 5vw;
}


data {
    border-radius: 10px;
    background: #FFF;
    padding: 4px 8px;
    align-self: center;

    margin-right: 3vw;

    color: #444;
    text-align: center;
    width: 12vw;
}

.my-dream > p {
    margin-top: 1em;
    margin-left: 10vw;
}

.block-name {
    margin-left: 5vw;
    font-size: 1.5em;
    width:40%;
}

.social-icons {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    align-items: center;
    margin: 0em 2em 1em 2em;
}

.social-icons > div {
    display: flex;
}

.social-icons > div > p {
    margin: 0 1em;
}

.social-icons > div > i {
    margin-top: 0.5em;
}

.friend-dream {
    border-radius: 10px;
    border: 1px solid rgba(0, 110, 233, 0.06);
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 110, 233, 0.02);
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2em;
    width: 75%;

}

.friend-dream > .top {
    display: flex;
}

.friend-dream > .top > img {
    margin: 1vh 2vw;
    width: 15%;
    height: fit-content;
}

.friend-dream > .top > p {
    margin: 2vw;
    width: 6vw;
}

.friend-dream > .top > h4 {
    margin: 2vh 2vw;
    width: 49vw;
    font-size: 2em;
    color: #808080;
}

.friend-dream > .bottom {
    display: flex;
}

.friend-dream > .bottom > p {
    margin-left: 14vw;
    margin-top: -3vh;
    width: 61vw;
}

.dream-comments {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dream-comments.show-comments {

    display: contents;
    transition: max-height 0.3s ease;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10%;
}

.name {
    font-size: 2em;
}

.comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.liked {
    color: red;
}

.comment-text {
    margin-left: 1.5em;
}

.sally img {

    right: 0;
    transform: translateY(-50%);
    width: 30vw;
    position: fixed;
    bottom: 5vh;
    z-index: -1;
    top: 70vh;

}

.friend-find {
    justify-content: space-between;
    width: 75%;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-right: 5vw;
}

.friend-find > .block-name {
    margin-left: 0;
}

.search {
    margin-top: 0.5em;
    height: 3em;
    display: flex;
    position: relative;
   /* z-index: 1111;*/
}
.search > div{
    display: flex;
}
.searchTerm {
    width: 30vw;
    height: 100%;
    border-radius: 0.5em 0 0 0.5em;
    margin: 10px 0 10px 10px;
    box-shadow: 0 4px 19px 0 rgba(119, 147, 65, 0.30);
}


.searchButton {
    height: 100%;
    margin-top: 0.5em;
    padding: 0.5em;
    text-align: center;
    border-radius: 0 0.5em 0.5em 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 4px 19px 0 rgba(119, 147, 65, 0.30);
}

.search-results {
    margin-left: 10px;
    background: white;
    z-index: 11;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    list-style: none;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
}

.search-result-item {
    display: flex;
    gap: 4px;
    padding: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.search-result-item:hover {
    background: rgba(0, 0, 0, 0.2);
}

.search-result-item img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.search-icon {
    color: white;
}

.nav-link > .main {
    color: #9a87e2;
}
.emotion-picker {
    display: flex;
    gap: 20px;
    align-items: center;
}

.emoji {
    font-size: 40px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .emoji {
    transform: scale(1.2);
}
@media (max-width: 700px) {
    .sally img, .notes img {
        display: none;
    }

    .add-dream-form {

        width: 90%;
        margin: 10vh 5vw 0 5vw;
    }

    .my-dream {
        width: 90%;
    }

    .friend-dream {
        width: 90%;
        flex-wrap: nowrap;
    }

    .friend-find {
        width: 90%;
    }

}