body {
    display: flex;
    flex-direction: column;
}

.top {
    width: 65vw;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 2px 6px 0 rgba(0, 110, 233, 0.10);
    justify-content: unset;

}

img {
    margin-top: -5vh;
    width: 20vh;
    height: 20vh;
    border-radius: 50px;
}

.statistics {
    display: flex;
}

.statistics > p {
    margin-right: 1em;
    margin-left: 1em;
}

.other {
    justify-content: unset;
    align-items: unset;
    width: 65vw;
}

.other > div, .other > div > form > button {
    border-radius: 10px;
    border: 1px solid rgba(0, 110, 233, 0.06);
    box-shadow: 0 4px 20px 0 rgba(0, 110, 233, 0.02);
    background: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1em 0;
    padding: 0;
}

.other > div > form > button {
    color: black;
    border-radius: 10px;
    border: 1px solid rgba(0, 110, 233, 0.06);
    box-shadow: 0 4px 20px 0 rgba(0, 110, 233, 0.02);
    background: white;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: auto;
}

.other > div > p > i, .other > div > form > button > i {
    color: #A6A2DA;
    margin: 0 1em;
}

.sleep {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 20vw;
    height: 20vw;
}

.profile-info, .statistics-info {
    display: flex;
    flex-direction: column;
    color: #a6a2da;
    padding: 0 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Add transition for smooth animation */
}

.hidden {
    max-height: 0 !important;

}

.one-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link > .setting {
    color: #9a87e2;
}

@media (max-width: 800px) {

    .sleep {
        display: none;
    }
}