.top-section{
    color: #000;
    font-family: Poppins;
    flex-direction: column;
    text-align: start;
    margin-left: 3.5vw;
}
.top-section > .Welcome{
    display:block;
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 112.5%;
    margin-bottom: 1vh;
}

.Welcome >span{
    display: block;
    font-weight: 400;
    line-height: 131.7%;
}
.top-section > .description {
    font-size: 1em;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    height: 45vh;
    display: flex;
    width: 90%;
    justify-content: center;
}


.buttons > p{
    color: #ABABAB;
    margin-top: 1vh;
    margin-bottom: 1vh;
}