{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   <link href="{{ asset('css/search.css') }}" rel="stylesheet" >
{% endblock %}
{% block javascripts %}
     <script type="text/javascript" src="{{ asset('build/search.js') }}"></script>
    {{ encore_entry_script_tags('search') }}
{% endblock %}
{% block content %}
    <div id="root">
    </div>
{% endblock %}

{% block title %}
Search dreams
{% endblock %}

