body {
    background-color: lightgray;
}
.add-comment{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;
}
.add-comment textarea{
    background: lightgray;
    width: 90%;
    margin: 0 auto;
    height: 4em;
    min-height: 4em;
    resize: vertical;
}
.add-comment button{
    margin: 0 5% 0 auto;
    width: 90%;
}
.comments-list{
    max-height: 10em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}
.single-comment{
    border: 1px solid lightgray;
    background: rgba(255,255,255,0.1);
    border-radius: 16px;
    padding: 16px;
    width: 90%;
}
.single-comment-date{
    text-align: right;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
}
.single-comment-content{
    font-weight: 400;
    margin: 0;
}